

.sudoku {
  .sudoku-row {
    display: flex;
    .sudoku-cell:nth-child(3), .sudoku-cell:nth-child(6) {
      border-right: 2px solid black
    }
  }

  .sudoku-cell {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border: solid 1px lightgray
  }

  .sudoku-row:nth-child(3), .sudoku-row:nth-child(6) {
    border-bottom: 2px solid black
  }

  .selected-section {
    background-color: lightblue;
  }

  .selected-cell {
    background-color: blue;
  }
}